/* Code By Jelloul Yoan */



/* ---------- Fonts ---------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Superline-Regular";
    src: url('../fonts/superline-regular-webfont.woff2') format("woff2"),
         url('../fonts/superline-regular-webfont.woff') format("woff");
}

@font-face {
    font-family: "Superline-Outline";
    src: url('../fonts/superline-outline-webfont.woff2') format("woff2"), 
         url('../fonts/superline-outline-webfont.woff') format("woff");
}

@font-face {
    font-family: "Superline-LineItalic";
    src: url('../fonts/superline-lineitalic-webfont.woff2') format("woff2"),
         url('../fonts/superline-lineitalic-webfont.woff') format("woff");
}


/* ---------- Hide 000Logo ---------- */

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

img[src="https://cdn.000webhost.com/000webhost_war-message_small.png"] {
    display: none;
}

.disclaimer{
	display: none;
}

/* ---------- Bulles Animation ---------- */

header .box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgb(171, 138, 180);
    border-radius: 30%;
	
}

header .box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

header .box div:nth-child(2){
    top: 70%;
    left: 45%;
    animation: animate 7s linear infinite;
}

header .box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

header .box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

header .box div:nth-child(5){
    top: 80%;
    left: 10%;
    animation: animate 6s linear infinite;
}

header .box div:nth-child(6){
    top: 50%;
    left: 90%;
    animation: animate 12s linear infinite;
}

header .box div:nth-child(7){
    top: 40%;
    left: 45%;
    animation: animate 15s linear infinite;
}

header .box div:nth-child(8){
    top: 25%;
    left: 25%;
    animation: animate 16s linear infinite;
}

header .box div:nth-child(9){
    top: 70%;
    left: 25%;
    animation: animate 9s linear infinite;
}

header .box div:nth-child(10){
    top: 10%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translate(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(0.7) translate(-90px) rotate(360deg);
        opacity: 0;
    }
}

/* ---------- Parametres ---------- */
:root {
	--violet: #d33bfd;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb{
	background: linear-gradient(#13181d, #9924b9);
	border-radius: 2px;
}

::-webkit-scrollbar-track{
	background: #13181d;
}

/* ---------- Header ---------- */

header {
	background: url("../images/Background.jpg");
	background-size: cover;
	padding-bottom: 15vh;
}

header nav {
	padding: 30px 5% 0px 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.logo img{
    width: 10%;
}

.navigation
{
	width: 70px;
	height: 70px;
	background: #20212e;
	border-radius: 10px;
	cursor : pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	transition-delay: 1s;
}


.navigation.active{
	width: 400px;
	height: 70px;
	transition-delay: 0s;
}

.navigation span{
	position: absolute;
	width: 40px;
	height: 1px;
	display :flex;
	justify-content: center;
	align-items: center;
	background: rgb(175, 175, 175);
	border-radius: 100%;
	transform: translate(calc(12px * var(--x)),calc(12px * var(--y)));
	transition: transform 1s, width 1s, height 1s, background 1s;
	transition-delay: calc(0.2s * var(--i));
}

.navigation.active span{
	transition-delay: 0.2s;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #20212e;
	transform: translate(calc(80px * var(--y)),calc(50px * var(--x)));
}

.navigation span ion-icon{
	font-size: 0em;
}

.navigation.active span ion-icon{
	transition: 2s;
	font-size: 1.35em;
	color: #fff;
}

.navigation.active span.home ion-icon{
	transition: 2s;
	font-size: 1.35em;
	color: #d33bfd;
	filter: drop-shadow(0 0 2px #d33bfd) drop-shadow(0 0 5px #d33bfd) drop-shadow(0 0 15px #d33bfd);
}

.navigation.active span:hover ion-icon{
	transition: 0.5s;
	color: #d33bfd;
	filter: drop-shadow(0 0 2px #d33bfd) drop-shadow(0 0 5px #d33bfd) drop-shadow(0 0 15px #d33bfd);
}

.navigation.active span.home:hover ion-icon{
	transition: 0.5s;
	color: #fff;
	filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #fff);
}

/* ---------- Ini Sections ---------- */

.presentation {
	padding: 40px 15%;
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

}
.presentation .product-presentation {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	max-width: 500px;
	max-height: 500px;
}

.presentation .product-presentation .yj img{
	position: relative;
	max-width: 500px;
	max-height: 500px;
}


.presentation .product-presentation .button {
	margin-top: 20px;
	padding: 13px 20px;
	font-size: 15px;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration:none;
	height:auto ;
	margin-left: 20px;
}


.presentation .image-presentation img {
	position: relative;
	margin-top: -50px;
	margin-left: 7%;
	width: 95%;
	z-index: 1;
	
	
}

/* ---------- Acceuil ---------- */

.first{
	display: flex;
	justify-content: center;
	align-items: center;
}

.first .product-presentation .button {
	background-color: var(--violet);
	color: white;
	border: 1px solid var(--violet);
	transition: background-color 0.5s, color 0.5s;
}
.first .product-presentation .button:hover {
	background-color: inherit;
	color: var(--violet);
}

/* ---------- Banderolle ---------- */

.second {
	margin: 0;
	background-color: #13181d;
	box-shadow: 0 0px 40px rgba(0, 0, 0, 0.8);

}

.second .product-detail .new {
	color: var(--violet);
}
.second .product-detail .button {
	background-color: inherit;
	border: 1px solid var(--violet);
	padding: 10px 15px;
	border-radius: 10px;
	color: var(--violet);
	text-decoration:none; 
	transition: background-color 0.5s, color 0.5s;
}
.second .product-detail .button:hover {
	background-color: var(--violet);
	color: white;
}


.second .product-detail h1 {
	margin: 0;
	font-size: 4vw;
}
.second .product-detail p {
	font-size: 1vw;
	color: #e9e9e9;
}

.second .image-presentation img {
	width: 75%;
	
}

/* ---------- Exemples Projets ---------- */


section.boxes{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	background: url(../images/bg2.jpg);
	background-size : cover;
	overflow: hidden;
	padding: 100px 20px;
	box-sizing: border-box;
	flex-direction: column;
}

section.boxes .boxestitle h3{
	color: #9d94a3;
	font-style: italic;
}


.container{
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}

.container .card{
	position: relative;
	width: 300px;
	height: 400px;
	margin: 20px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(128, 128, 128, 0.05);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(15px);
	border-radius: 5%;

}

.container .card:hover{
	cursor : pointer;
}

.container .card .imgBx{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx{
	transform: translateY(-150px);
}

.container .card .imgBx img{
	max-width: 100%;
	margin: 0 0 20px;
	transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx img{
	transform: translate(-20px, 0px) rotate(-15deg) scale(1.1);
}

.container .card .content{
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	transition: 0.6s ease-in-out;
	opacity: 0;
	visibility: hidden;
}

.container .card:hover .content{
	opacity: 1;
	visibility: visible;
	transform: translateY(-50px);
}

/* ---------- Footer ---------- */

footer {
	margin: 0;
	padding: 20px;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
footer h3 {
	color: var(--violet);
}

footer .columna {
	color: #fff;
	padding: 50px 30px;
}
footer p {
	cursor: pointer;
	color: #ccc;
}
footer p:hover {
	color: white;
}

/* ---------- Responsive ---------- */

@media screen and (max-width: 1680px) {
	nav .right p {
		width: 60%;
	}

	.first{
		margin-top: 100px;
	}

	.presentation .product-presentation h1 {
		font-size: 12vh;
	}
	.presentation .image-presentation {
		width: 80%;
	}
	.first .product-presentation .small-images .small img {
		width: 90px;
	}

	footer .column {
		width: 100%;
	}

	

	
}

@media screen and (max-width: 1440px) {
	nav .right p {
		width: 60%;
	}

	.first{
		margin-top: 150px;
	}

	.presentation .product-presentation h1 {
		font-size: 12vh;
	}
	.presentation .image-presentation {
		display: none;
	}
	.first .product-presentation .small-images .small img {
		width: 90px;
	}


	footer .column {
		width: 80%;
	}

	header nav{
		justify-content: flex-start;
	}

	nav .logo img{
		display: none;
	}

	.second .product-detail h1 {
		font-size: 5vw;
	}

	.second .product-detail p {
		font-size: 2vw;
	}

	footer{
		flex-wrap: nowrap;
	}

}

@media screen and (max-width: 780px) {
	nav .right p {
		display: none;
	}

	.presentation .product-presentation h1 {
		font-size: 10vh;
	}
	.presentation .image-presentation {
		display: none;
	}

	.presentation .product-presentation .button {
		font-size: 10px;
		padding: 10px 15px;
	}

	.presentation .product-presentation .yj img{
		max-width: 300px;
		max-height: 300px;
	}	

	.first .product-presentation .small-images .small img {
		width: 90px;
	}

	.first{
		margin-top: 150px;
	}

	footer .column {
		width: 80%;
	}

	nav .logo img{
		display: none;
	}

	header nav{
		justify-content: flex-start;
	}

	.second .product-detail h1 {
		font-size: 7vw;
	}

	.second .product-detail p {
		font-size: 3vw;
	}

	.second .product-detail .button {
		font-size: 9px;
	}

	footer{
		flex-wrap: wrap;
	}

}