/* Code By Jelloul Yoan */



/* ---------- Fonts ---------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Superline-Regular";
    src: url('../fonts/superline-regular-webfont.woff2') format("woff2"),
         url('../fonts/superline-regular-webfont.woff') format("woff");
}

@font-face {
    font-family: "Superline-Outline";
    src: url('../fonts/superline-outline-webfont.woff2') format("woff2"), 
         url('../fonts/superline-outline-webfont.woff') format("woff");
}

@font-face {
    font-family: "Superline-LineItalic";
    src: url('../fonts/superline-lineitalic-webfont.woff2') format("woff2"),
         url('../fonts/superline-lineitalic-webfont.woff') format("woff");
}


/* ---------- Hide 000Logo ---------- */

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

img[src="https://cdn.000webhost.com/000webhost_war-message_small.png"] {
    display: none;
}

.disclaimer{
	display: none;
}

/* ---------- Paramètres ---------- */

:root {
	--violet: #d33bfd;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background: #13181d;
	
}

::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb{
	background: linear-gradient(#13181d, #9924b9);
	border-radius: 2px;
}

::-webkit-scrollbar-track{
	background: #13181d;
}

/* ---------- Header ---------- */

header {
	background: url(../images/bg2.jpg);
	background-size: cover;
    min-height: 15vh;
}

header nav {
	padding: 2% 5% 2% 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.logo img{
    width: 10%;
}

.navigation
{
	width: 70px;
	height: 70px;
	background: #20212e;
	border-radius: 10px;
	cursor : pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	transition-delay: 1s;
}


.navigation.active{
	width: 400px;
	height: 70px;
	transition-delay: 0s;
}

.navigation span{
	position: absolute;
	width: 40px;
	height: 1px;
	display :flex;
	justify-content: center;
	align-items: center;
	background: rgb(175, 175, 175);
	border-radius: 100%;
	transform: translate(calc(12px * var(--x)),calc(12px * var(--y)));
	transition: transform 1s, width 1s, height 1s, background 1s;
	transition-delay: calc(0.2s * var(--i));
}

.navigation.active span{
	transition-delay: 0.2s;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #20212e;
	transform: translate(calc(80px * var(--y)),calc(50px * var(--x)));
}

.navigation span ion-icon{
	font-size: 0em;
}

.navigation.active span ion-icon{
	transition: 2s;
	font-size: 1.35em;
	color: #fff;
}

.navigation.active span.about ion-icon{
	transition: 2s;
	font-size: 1.35em;
	color: #d33bfd;
	filter: drop-shadow(0 0 2px #d33bfd) drop-shadow(0 0 5px #d33bfd) drop-shadow(0 0 15px #d33bfd)
}

.navigation.active span:hover ion-icon{
	transition: 0.5s;
	color: #d33bfd;
	filter: drop-shadow(0 0 2px #d33bfd) drop-shadow(0 0 5px #d33bfd) drop-shadow(0 0 15px #d33bfd)
}

.navigation.active span.about:hover ion-icon{
	transition: 0.5s;
	color: #fff;
	filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #fff)
}

/* ---------- Ini Sections ---------- */

.presentation {
	padding: 40px 15%;
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.presentation .card-name .card-content h2 {
	font-size: 3.5vh;
	margin-left: 5%;
}
.presentation .card-name .card-content p {
	font-size: 2vh;
	color: #e9e9e9;
	margin-left: 5%;
}


.presentation .detail {
	flex-basis: 50%;
	
}
.presentation .detail p {
	margin-top: 20%;
	margin-left: 10%;
	font-size: 2vh;
	
}

/* ---------- Carte CV ---------- */


.second {
	margin: 0;
	background-color: #13181d;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.second .card-name{

	margin: 20px;
	margin-top: 150px;
	position: relative;
	min-width: 600px;
	min-height: 350px;
	max-width: 600px;
	max-height: 350px;
	background: #0e1114;
	border-radius: 40px;
	transition: 0.5s;
	overflow: hidden;
}

.second .card-name .card-content{
	padding: 45px 80px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.second .card-name .card-content .trait{
	width: 5px;
	height: 200px;
	margin-top: 15px;
	background: linear-gradient(135deg,#d41e4c,#3324b9);
	transition: 0.5s;
}

.second .card-name:hover .card-content .trait{
	transition: 0.5s;
	transform: translateX(-40px);
}

.second .card-name:hover .card-content .info{
	transition: 0.5s 0.5s;
	transform: translateX(-35px);
}

.second .card-name .card-content .info{
	right: 20px;
	transition: 0.5s;
}


.second .card-name .card-content .info p{
	font-size: 18px;
}

.second .card-name:hover{
	transform: scale(1.10) translate(20px, -20px);
	transition: 0.5s;
	cursor: pointer;
}

.second .card-name .card-content .news{
	font-size: 15px;
}

.second .card-name:hover .card-content .buttonanim .button{
	opacity: 100;
	transition: 0.5s;
}

.second .card-name:hover .card-content .buttonanim{
	transition: 0.5s 0.5s;
	transform: translateX(-300px);
}

.second .product-detail .new {
	color: var(--violet);
}

.second .card-name .card-content .buttonanim {
	position: absolute;
	right: -250px;
	transition: 0.5s;
	margin-top: 50px;
}


.second .card-name .card-content .buttonanim .button {
	font-size: 15px;
	background-color: inherit;
	text-align: center;
	border: 2px solid #9924b9;
	padding: 10px 15px;
	border-radius: 10px;
	color: #fff;
	text-decoration:none;
	opacity: 1;
	transition: 0.5s;
	width: 60px;
	
	
}
.second .card-name .card-content .buttonanim .button:hover {
	background-color: var(--violet);
	border: 2px solid var(--violet);
	border-radius: 10px;
	color: white;
}

.second .detail:hover p{
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}


.second .product-detail h2 {
	margin: 0;
	font-size: 2vw;
}
.second .product-detail p {
	font-size: 23px;
	color: #e9e9e9;
}

/* ---------- Carte Bio ---------- */

.card-text{
	position: relative;
	min-width: 600px;
	min-height: 350px;
	max-width: 600px;
	max-height: 350px;
	margin: 20px;
	margin-top: 150px;
	display: flex;
	border-radius: 40px;
	transition: 0.5s;
}

.card-text:hover{
	cursor: pointer;
}

.card-text .circle{
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
	
}

.card-text .circle::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg,#d41e4c,#3324b9);
	clip-path: circle(140px at 50% 60%);
	transition: 0.5s;
}

.card-text:hover .circle:before{
	background: linear-gradient(135deg,#d41e4c,#3324b9);
	clip-path: circle(400px at center);
}

.card-text img{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 450px;
	transition: 0.8s;
	pointer-events: none;
}

.card-text:hover img{
	left: 95%;
	height: 500px;
}

.card-text .text-content{
	position: relative;
	width: 50%;
	left: 20%;
	padding: 20px 20px 20px 40px;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	-ms-overflow-style: none;
  	overflow-y: scroll; 

}

.card-text .text-content::-webkit-scrollbar {
	display: none;
  }

.card-text:hover .text-content{
	opacity: 100;
	visibility: visible;
	left:0%;
	transition: 0.5s 0.5s;
}

.card-text .text-content h2{
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	line-height: 1em;
}

.card-text .text-content p{
	color: #fff;
	font-size: 16.25px;
}

/* ---------- Codes site ---------- */

.tres {
	display: flex;
	justify-content: center;
	margin: 0;
	background-color: #13181d;
	height: 15vh;
	flex-direction: column;
	align-items: flex-start;
}

.tres .product-detail h2 {
	margin: 0;
	font-size: 2vw;
}
.tres .product-detail p {
	font-size: 23px;
	color: #e9e9e9;
}

/* ---------- Spacer ---------- */

.spacer{
	height: 20vh;
	background-color: #13181d;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spacer .spacebar{
	height: 5px;
	width: 30%;
	background: #0e1114;
}

.spacer .logoz ion-icon{
	font-size: 5em;
	color: #232b33;
}

/* ---------- Carte codes site ---------- */

.codes{
	background-color: #13181d;
	min-height: 90vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.codes::before{
	content: '';
	position: absolute;
	width: 400px;
	height: 400px;
	background: linear-gradient(#7124b9, #2b197c);
	border-radius: 50%;
	transform: translate(-230px, -130px);
}

.codes::after{
	content: '';
	position: absolute;
	width: 350px;
	height: 350px;
	background: linear-gradient(#9924b9, #b92462);
	border-radius: 50%;
	transform: translate(250px, 150px);
}

.box{
	position: relative;
	min-width: 350px;
	min-height: 400px;
	background: rgba(128, 128, 128, 0.1);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	z-index: 10;
	padding: 20px;
	backdrop-filter: blur(25px);
}

.box h3{
	color: #fff;
	margin-bottom: 40px;
}


.box .list{
	position: relative;
	display: flex;
	padding: 10px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.5s;
	overflow: hidden;
	max-height: 60px;
}

.box .list:hover{
	background: #fff;
	box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
	transform: scale(1.15) translateX(30px) translateY(-15px);
	z-index: 1000;
}

.box .list .imgBxx{
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 10px;
}

.box .list .imgBxx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.box .list .content{
	display: flex;
	flex-direction: column;
	color: #fff;
}

.box .list .content .rank{
	position: absolute;
	right: -50px;
	color: #9924b9;
	transition: 0.5s;
	font-size: 1.5em;
	opacity: 0;
}

.box .list .content .rank small{
	font-weight: 500;
	opacity: 0.25;
}

.box .list:hover .content .rank{
	right: 15px;
	opacity: 100;
}

.box .list .content h4{
	position: absolute;
	line-height: 1.2em;
	font-weight: 600;
	transition: 0.5s;
	bottom: 15px;
}

.box .list:hover .content h4{
	color: #000000;
}

.box .list .content p{
	position: absolute;
	font-size: 0.75em;
	color:#8597a8;
	transition: 0.5s;
	top: 35px;
}


/* ---------- Footer ---------- */

footer {
	margin: 0;
	padding: 20px;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
footer h3 {
	color: var(--violet);
}

footer .columna {
	color: #fff;
	padding: 50px 30px;
}
footer p {
	cursor: pointer;
	color: #ccc;
}
footer p:hover {
	color: white;
}

/* ---------- Responsive ---------- */

@media screen and (max-width: 1680px) {
	nav .right p {
		width: 60%;
	}

	.first{
		margin-top: 100px;
	}

	.presentation .product-presentation h1 {
		font-size: 12vh;
	}
	.presentation .image-presentation {
		width: 80%;
	}
	.first .product-presentation .small-images .small img {
		width: 90px;
	}

	footer .column {
		width: 100%;
	}

	

	
}

@media screen and (max-width: 1440px) {
	nav .right p {
		width: 60%;
	}

	.first{
		margin-top: 150px;
	}

	.presentation .product-presentation h1 {
		font-size: 12vh;
	}
	.presentation .image-presentation {
		display: none;
	}
	.first .product-presentation .small-images .small img {
		width: 90px;
	}


	footer .column {
		width: 80%;
	}

	header nav{
		justify-content: flex-start;
	}

	nav .logo img{
		display: none;
	}

	.second .product-detail h1 {
		font-size: 5vw;
	}

	.second .product-detail p {
		font-size: 2vw;
	}

	.second .detail{
		display: flex;
		justify-content: center;
		align-items: center;
	}


	footer{
		flex-wrap: nowrap;
	}


	.second .card-name{

		min-width: 450px;
		min-height: 400px;
		max-width: 450px;
		max-height: 400px;
	}

	.second .card-text{

		min-width: 450px;
		min-height: 400px;
		max-width: 450px;
		max-height: 400px;
	}

	.second .card-name:hover .card-content .buttonanim{
		transform: translateX(-380px);
	}

	.second .card-name .card-content .buttonanim{
		margin-top: 350px;
	}

}

@media screen and (max-width: 991px) {
	nav .right p {
		display: none;
	}

	.presentation .product-presentation h1 {
		font-size: 10vh;
	}
	.presentation .image-presentation {
		display: none;
	}

	.presentation .product-presentation .button {
		font-size: 10px;
		padding: 10px 15px;
	}

	.first .product-presentation .small-images .small img {
		width: 90px;
	}

	.first{
		margin-top: 150px;
	}
	.second{
		flex-direction: column;
	}


	.second .product-detail .new{
		font-size: 20px;
	}

	.second .product-detail h2{
		font-size: 30px;
	}

	.second .product-detail .news{
		font-size: 18px;
	}

	.second .product-detail .button {
		font-size: 12px;
	}

	.second .detail p{
		font-size: 15px;
	}

	.second .detail:hover p{
		font-size: 16px;
	}

	

	.card-text .text-content{
		padding: 30px;
	}

	


	.card-text:hover img{
		opacity: 0;
		visibility: hidden;
		transition: 0.5s;
	}

	.card-text:hover{
		height: 600px
	}

	.card-text .text-content{
		width: 100%;
		left:0;
		padding: 40px;
	}

	


	footer .column {
		width: 80%;
	}

	nav .logo img{
		display: none;
	}

	header nav{
		justify-content: flex-start;
	}

	.second .product-detail h1 {
		font-size: 7vw;
	}

	.second .product-detail p {
		font-size: 3vw;
	}


	footer{
		flex-wrap: wrap;
	}

}